:root {
    --fuente-titulo: "AlegreyaSans";
    --fuente-texto: "Open Sans";

    &.light {
        --color-dorado: #ffc600;
        --color-dorado-fuerte: #c29800;
        --color-oscuro: #333;
        --color-zapatilla-fondo: #fff;
        --color-negro-fondo: #333;
        --color-blanco-oscuro: #f5f5f5;
    } 

    &.dark {
        --color-dorado: #ffc600;
        --color-dorado-fuerte: #c29800;
        --color-oscuro: #1d1d1d;
        --color-zapatilla-fondo: #1d1d1d;
        --color-negro-fondo: #f5f5f5;
        --color-blanco-oscuro: #333;
    }
}