@media (max-width: 768px) {
    .favorites {

        .favorites-list {
            list-style: none;
            padding: 0;
            max-width: 90%;
            margin: 20px auto;
            background-color: #fff;
            border-radius: $producto-border-radius;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
            .product {
                border: 1px solid #ddd;
                border-radius: $producto-border-radius;
                padding: 10px;
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
            }
        }
    }
}