.footer-container {
    @media (max-width: 991px) {
        [class^='footer-col'] {
            margin-bottom: 30px;
        }
    }
    
    @media (max-width: 800px) {
        .footer-row {
            flex-direction: column;
        }

        .footer-col {
            padding: 0 !important;
            margin: 0 !important;
        }
    
        .footer-row:last-child {
            text-align: left;
    
            .footer-col {
                justify-content: start;
            }
        }
    
        .social-icons {
            text-align: left !important;
        }
    }        
    
    @media (max-width: 767px) {
        .footer-col {
            padding: 0 !important;
            margin: 0 !important;
        }

        .social-icons li.title {
            display: block;
            margin-right: 0;
            font-weight: 600;
        }
    }
}