@media (max-width: 700px) {
    #myModal {
        .modal-content {
            width: 40%;
        }
    }
}

@media (max-width: 500px) {
    #myModal {
        .modal-content {
            width: 60%;
        }
    }
}

@media (max-width: 350px) {
    #myModal {
        .modal-content {
            width: 75%;
        }
    }
}