@media (max-width: 875px) {
    #producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #fotosProducto {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            #imagenPrincipal {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        #infoProducto {
            width: 100%;

            .actions {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}