#admin {

    p {
        text-align: center;
        margin-bottom: 10px;
    }

    .alinear {
        display: flex;
        align-items: center;
    }

    .adminImages {
        width: 100px;
    }

    /* Estilos para la tabla */
    table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        margin-bottom: 20px;

        .input-admin {
            border-bottom: 1px solid var(--color-negrita-gris) !important;
        }

        th, td {
            padding: 8px;
            border: 1px solid var(--color-negrita-gris);
            text-align: center;
        }

        /* Estilos para la cabecera de la tabla */
        th {
            background-color: var(--color-tabla-inpar-admin);
        }

        td:nth-child(13) {
            border-bottom: none;
        }

        td:nth-child(13), td:nth-child(14) {
            border-left: none;
        }

        /* Estilos para las filas impares */
        tbody tr:nth-child(odd) {
            background-color: var(--color-tabla-par-admin);

            td, th {
                color: var(--color-siempre-negro);
            }
        }

        tbody tr:nth-child(even) {
            background-color: var(--color-tabla-inpar-admin);
            
            td, th {
                color: var(--color-negro-fondo);
            }
        }
    }

    /* Estilos para el botón */
    .btn {
        padding: 8px 16px;
        background-color: var(--color-dorado);
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: var(--color-dorado);
        }
    }

    #raffle-table-admin {
        td:nth-child(8) {
            border-bottom: none;
        }

        td:nth-child(8), td:nth-child(9) {
            border-left: none;
        }
    }

    /* Estilos para el área de descripción */
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 4px;
        margin-bottom: 8px;
    }
}