#admin {

    .alinear {
        display: flex;
        align-items: center;
    }

    /* Estilos para la tabla */
    table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        margin-bottom: 20px;

        th, td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: center;
        }

        /* Estilos para la cabecera de la tabla */
        th {
            background-color: #f2f2f2;
        }

        /* Estilos para las filas impares */
        tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }
    }

    /* Estilos para el botón */
    .btn {
        padding: 8px 16px;
        background-color: var(--color-dorado);
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: var(--color-dorado);
        }
    }

    /* Estilos para los campos de entrada */
    input[type="text"],
    input[type="file"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 4px;
        margin-bottom: 8px;
    }

    /* Estilos para el área de descripción */
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 4px;
        margin-bottom: 8px;
    }
}