.btn {
    background-color: var(--color-dorado);
    color: var(--color-negro-fondo);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover, .btnZapatillas:hover {
    background-color: var(--color-negro-fondo);
    color: var(--color-dorado);
    transition: 0.5s;
}

.btnZapatillas {
    margin: 10px 0px 30px 20px;
}