button, .close {
    cursor: pointer !important;
}

.btn {
    background-color: var(--color-dorado);
    color: var(--color-negro-fondo);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-talla {
    background-color: var(--color-blanco-oscur);
    color: var(--color-negro-fondo);
    border: 1px grey solid;
    padding: 10px 25px;
    margin: 10px 5px;
    border-radius: 10px;
}

.btn:hover,
.btnZapatillas:hover {
    background-color: var(--color-negro-fondo);
    color: var(--color-dorado);
    transition: 0.5s;
}

.btnZapatillas {
    margin: 10px 0px 30px 20px;
}

/* Dropdown Button */

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
    width: 180px;
    top: 70px;
    left: -50px;
    background-color: rgba(46, 46, 46, 0.596);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--color-dorado);
    color: var(--color-negro-fondo)
}

.show {
    display: block;
}

.user-dropdown, .login-dropdown {
    left: -100px;
}