#comentarioProducto {

    padding: 20px;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 1000px;

    .comentario {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;

        h3 {
            color: black;
            padding-bottom: 10px;
        }

    }

}