body {
    font-family: var(--fuente-texto);
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    color: var(--color-negro-fondo);
    background-color: var(--color-blanco-oscuro);
    z-index: 1;
}

h1, h2, h3, label {
    font-family: var(--fuente-titulo);
}

h1 {
    text-align: center;
    margin: 20px 0px;
    font-size: 40px;
    width: 100%;
}

h2 {
    font-size: 33px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

li:hover, a:hover {
    color: var(--color-dorado);
    transition: 0.4s;
}

p,li, button, label, option {
    font-size: 16px;
}

#login p, #registro p {
    padding: 10px 0px;
}

.enlace_invertido {
    color: var(--color-dorado);
}

.enlace_invertido:hover {
    color: var(--color-dorado-fuerte);
}

.icono {
    width: 40px;
    height: auto;
    margin-right: 0px;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #57575744;
        transition: 0.8s;
    }
}

.nombre_zapatilla {
    font-weight: bold;
}

.zapatilla {
    background-color: #fff;
    margin: 20px 1%;
    width: 31%;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    p {
        font-size: 20px;
        color: var(--color-negro-fondo);
        padding: 10px 0px 0px 20px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .precio {
        padding-bottom: 20px;
    }

    .date {
        margin-bottom: 15px;
    }
}

.inpSearch {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 400px;
}

.containerError {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb; 
    color: #721c24; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.stars {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .star {
        padding: 0 3px;
        width: 20px;
    }

    .star:last-child {
        padding: 0 0 0 3px;
    }
}